.Header{
  font-family: 'Raleway', sans-serif;
}
.Header .jumbotron {
  margin-bottom: 0;
  background-color: white;
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  padding:40vh 0 25vh 0;
  color: black;
}

@media (max-width: 576px) { 
  .Header .display-1{
    font-size: 4rem;
}
 }
