.card{
  font-family: 'Raleway', sans-serif;
  color: black;
  margin: 20px 0;
  width: 20rem;
  height: 20rem;
}

/* .card .card-img-top{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 20rem;
  
} */

.card .card-block{
  background-size: cover;
  padding: 7rem 10px 0;
}
.card .card-block:hover{
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    
}

.card .card-title{
  font-size: 2rem;
  color:rgb(52, 172, 165);
}
.card .card-block .card-text{
  font-size: 1.2rem;
  font-family: 'Alegreya Sans', serif;

}
