.card{
  opacity: 1;
  background: #575756;
  border: none;
  margin: 20px 0;
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
}
.card:hover{
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.card .card-block{
  font-family: 'Raleway', sans-serif;
  color: black;
  background-size: cover;
  border-radius: 10px;
  
}

.card:hover .card-block{
  opacity: 1;
  
}
.card:hover .card-block{
  opacity: 0.1;
  -webkit-transition: opacity 0.4s linear;
     -moz-transition: opacity 0.4s linear;
     -o-transition: opacity 0.4s linear;
     transition: opacity 0.4s linear;
  
}
.card .card-title{
  display: none;
  position: absolute;
  bottom: 0;
  color:white;
  padding:0 20px; 
}

.card:hover .card-title{
  display: block;
}