.Navigation {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.Navigation li {
  list-style: none;
}
.Navigation .nav,
.logo {
  background-color: #0a46bf;
}
.Navigation a {
  color: white;
}
.Navigation a:hover {
  color: rgb(178, 178, 178);
}
.Navigation .active-link {
  color: rgb(140, 140, 140);
  text-decoration: underline;
}
