.Navigation{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.Navigation li{
  list-style: none;
}
.Navigation nav{
  background-color:  rgb(52, 172, 165);
}
.Navigation a{
  color: white;
}
.Navigation a:hover{
  color: rgb(178, 178, 178);
}
.Navigation a .active{
  color: rgb(87, 87, 86);
}
.Navigation .logo img{
  width:80px;
  height: 50px;
}