.Navigation {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 30px;
  background-color: #0a46bf;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.navLink {
  color: white;
  margin-left: 30px;
  text-decoration: none;
}

.navLink:hover {
  color: rgb(178, 178, 178);
  text-decoration: none;
}
.navLink:focus {
  color: rgb(140, 140, 140);
  text-decoration: none;
}
.activeLink {
  color: rgb(140, 140, 140);
  text-decoration: none;
}

.logo a {
  width: 200px;
  text-decoration: none;
}
.links {
  display: flex;
  justify-self: flex-end;
  font-weight: normal;
  font-size: 20px;
}
