
.jumbotron{
  background-image: url('./../../static/StockSnap_029V8EW5IJ.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  padding:40vh 0 25vh 0;
  color: white;
}

.card{
  margin: 20px 0;
  width: 20rem;
}
