.Main{
  background-color: white;
  padding: 10px;
}
.view-all{
  font-family: 'Raleway', sans-serif;
  color:white;
  font-weight: 500;
  background-color: rgb(52, 172, 165);
  font-size: 1.8rem;
}
.view-all:hover{
  color:rgb(210, 210, 210);
  background-color: rgb(40, 160, 150);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.view-all:active{
  background-color: rgb(35, 150, 140);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}